@import "css-tree";
@import "variable";
@import "functions";
@import "default-css";

/** 
 * -----------------
 * General CSS
 * -----------------
 */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}


.zb-section-title {
    padding-bottom: 60px;
    padding-top: 100px;
    h2 {
        font-size: 42px;
        line-height: 48px;
        font-weight: normal;
    }
}

section {
    overflow: hidden;
}

body {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/*
    ==============
       Navigation
    ==============
*/

.mh-nav {
    width: 100%;
    //background-color: rgba(#000 , 0.30)
}
.mh-header {
    padding: 0;
    @include transition(.3s);
    &.nav-strict {
        padding: 0;
        @include transition(.3s);
        z-index: 9999;
        // background-color: $white;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }
    .navbar-nav {
        li {
            margin: 6px 15px;
            &.active {
                a {
                    color: $white;
                }
            }
            a {
                border-bottom: 1px solid transparent;
                font-weight: bold;
                font-family: $font-1;
                font-size: 14px;
                color: #fff;
                opacity: 0.8;
                cursor: pointer;
                line-height: 30px;
                
                &.nav-link {
                    padding-left: 0;
                    padding-right: 0;
                }
                
                &:hover {
                    color: $white;
                }
            }
        }
    }
}
.mh-header-bg {
    background-color: $main-color;
}


/*
    ==============
       home
    ==============
*/

.ev-home-one {
    position: absolute;
}

.home-select {
    height: 48px;
    margin-top: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
    text-transform: capitalize;
    opacity: 0.7;
    font-size: 14px;
    background-color: #fff;
    width: 100%;
    color: #221645;
    letter-spacing: 1px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: 0;
    padding-left: 15px;
    margin-bottom: 30px !important;
}


.ev-home-padding {
    padding: 180px 0;
}
.ev-home {
    position: relative;
    .ev-header-shape {
        position: absolute;
        left: 0;
        background-image: url(../images/ev-header-shape.png);
        background-image: url(../images/whape.png);
        background-size: cover;
        background-repeat: no-repeat;
        right: 0;
        height: 250px;
        bottom: 0;
    }
}
.ev-button {
    .btn {
        margin: 0 4px;
    }
}

.single-form {
    padding: 20px;
    background-color: $white;
    text-align: center;
    box-shadow: 0 90px 115px -25px rgba(0,0,0,0.10);
    border-radius: 7px;
    h4 {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        color: $form-text;
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
    }

    .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.12);
        text-transform: capitalize;
        opacity: 0.7;
        font-size: 14px;
        color: $form-text;
        letter-spacing: 1px;
        @include transition(.3s);
        &:focus {
            letter-spacing: 1px;
            @include transition(.3s);
        }
    }
    .contact-message {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.12);
        text-transform: capitalize;
        opacity: 0.7;
        font-size: 14px;
        color: $form-text;
        letter-spacing: 1px;
        @include transition(.3s);
        &:focus {
            letter-spacing: 0px;
            @include transition(.3s);
        }
    }
    .btn {
        box-shadow: none;
        margin-bottom: 10px;
        .fa {
            margin-left: 20px;
        }
    }
}

.navbar-toggler-icon {
    background-image: url(../icons/ti.svg);
    background-repeat: no-repeat;
}
.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    margin-right: 4px;
}
.lo_content_inner {
    .ev-tagline {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: $main-color-light;
    }
    .main_heading {
        font-size: 70px;
        color: $white;
        letter-spacing: 0px;
        line-height: 80px;
        margin: 20px 0;
        margin-top: 10px;
    }
    p {
        font-size: 16px;
        color: $white;
        opacity: 0.9;
        letter-spacing: 0;
        line-height: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
    }
}

.ev-events {
    .owl-carousel .owl-stage-outer {
        overflow: visible;
    }
    .owl-controls {
        width: 142px;
        position: absolute;
        right: 0;
        top: -150px;
    }
    .owl-next {
        position: absolute;
        background: #fff;
        border-radius: 50%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 0px solid red;
        border-color: #83d7ac;
        top: 40%;
        height: 70px;
        box-shadow: 15px 10px 54px rgba(51, 51, 51, 0.10);
        width: 70px;
        right: 0%;
        text-align: center;
    }
    .owl-next .fa {
        color: #2A2A2A;
        line-height: 70px;
        font-size: 40px;
        margin-left: 0px;
    }
    .owl-prev {
        position: absolute;
        background: #fff;
        border-radius: 50%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 0px solid red;
        text-align: center;
        border-color: rgba(255, 255, 255, 0.44);
        top: 40%;
        left: 0%;
        height: 70px;
        box-shadow: 15px 10px 54px rgba(51, 51, 51, 0.10);
        width: 70px;
    }
    .owl-prev .fa {
        line-height: 70px;
        color: #2A2A2A;
        font-size: 40px;
        margin-left: 0px;
    }
}

.ev-testimonial {
    margin: 60px 0;
    .tes-overlay-map {

    }
    .ev-testimonial-item {
        text-align: center;
        padding: 0 100px;
        img {
            margin: 0 auto;
            float: none;
            width: 110px;
            margin-bottom: 30px;
        }
        p {
            opacity: 0.5;
            // font-family: GoogleSans-Italic;
            font-size: 25px;
            color: #182D38;
            letter-spacing: 0;
            font-style: italic;
            text-align: center;
            line-height: 35px;
        }
        .tes-auth {
            text-align: center;
            h4 {
                // font-family: GoogleSans-Bold;
                font-size: 25px;
                color: #182D38;
                letter-spacing: 0;
            }
            span {
                opacity: 0.6;
                // font-family: GoogleSans-Medium;
                font-size: 18px;
                color: #2A2A2A;
                letter-spacing: 0;
            }
        }
    }
        .img-cnr {
            position: absolute;
            width: 105px;
            &:nth-child(1) {
                top: 0;
                left: 10%
            }
            &:nth-child(2) {
                top: 40%;
                left: 0;
            }
            &:nth-child(3) {
                bottom: 0;
                left: 5%;
            }
            &:nth-child(4) {
                bottom: 0;
                right: 5%;
            }
            &:nth-child(5) {
                top: 0;
                right: 10%;
            }
            &:nth-child(6) {
                top: 40%;
                right: 0;
            }
        }

}

.ev-feature-service {
    .ev-f-service-item {
        text-align: left;
        // box-shadow: 0px 12px 75px rgba(112, 112, 112, 0.11);
        padding: 30px 20px;
        margin-bottom: 30px;
        .s-icon {
            width: 105px;
            height: 105px;
            background: rgba(#643BDF, 0.2);
            border-radius: 100%;
            line-height: 105px;
            margin: 0;
            text-align: center;
            margin-bottom: 30px;
            &.blue {
                background: rgba(#52D3B6, 0.25);                
            }
            &.yellow {
                background: rgba(#FAC940, 0.20);                
            }
            &.red {
                background: rgba(#FF5949 , 0.20);                
            }
            &.kc {
                background: rgba(#52D3B6 , 0.20);                
            }
            &.gg {
                background: rgba(#4280DF , 0.20);                
            }
            img {
                width: 50px;
                height: 50px;
            }
        }
        h4 {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 20px;
            margin-top: 20px;
            color: #2A2A2A;
        }
    }
}

.ev-contact {
    background: #FAF9F7;
    .ev-contact-content {
        padding: 30px;
        h2 {
            font-size: 55px;
            color: #182D38;
            letter-spacing: -0.9px;
            line-height: 70px;
            margin-bottom: 20px;
        }
        p {
            opacity: 0.8;
            font-size: 16px;
            color: #182D38;
            letter-spacing: 0;
            line-height: 30px;
            margin-bottom: 20px;
        }
        
        h4 {
            font-size: 25px;
            color: #182D38;
            letter-spacing: 0;
            text-align: left;
            line-height: 35px;
            margin-bottom: 10px;
        }
    }
    .single-form {
        padding: 30px;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 90px 115px -25px rgba(0,0,0,0.10);
        border-radius: 7px;
        h4 {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 30px;
        }

        .form-control {
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            text-transform: uppercase;
            opacity: 0.5;
            font-size: 14px;
            color: #182D38;
            letter-spacing: 3px;
            @include transition(.3s);
            &:focus {
                letter-spacing: 1px;
                @include transition(.3s);
            }
        }
        .contact-message {
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            text-transform: uppercase;
            opacity: 0.5;
            font-size: 14px;
            color: #182D38;
            letter-spacing: 3px;
            @include transition(.3s);
            &:focus {
                letter-spacing: 0px;
                @include transition(.3s);
            }
        }
        .btn {
            box-shadow: none;
            .fa {
                margin-left: 20px;
            }
        }
    }

}

.ev-footer {
    background-image: linear-gradient(60deg, $main-color 0%, darken($main-color-light, 8%) 100%);
    color: $white;
    position: relative;
    .ev-ft-shape {
        position: absolute;
        left: 0;
        bottom: 30px;
    }
    .footer-inner {
        margin-bottom: 30px;
        h4 {
            // font-family: GoogleSans-Bold;
            font-size: 16px;
            color: #fff;
            margin-top: 20px;
            letter-spacing: 0.5px;
            line-height: 10px;
            margin-bottom: 30px;
        }
        p {
            margin-top: 30px;
            margin-bottom: 20px;
            padding-right: 30px;
        }
        ul {
            li {
                margin: 10px 0;
                a {
                    opacity: 0.9;
                    // font-family: GoogleSans-Medium;
                    font-size: 16px;
                    line-height: 26px;
                    color: #fff;
                    letter-spacing: 0;
                    text-transform: capitalize;
                    &:hover {
                        // color: $main-color;
                    }
                }
            }
        }
        .social-icon {
            li {
                background: transparent;
                margin: 0 6px;
                &:hover {
                    background: transparent;
                    a {
                        .fa {
                            border-color: $white;
                        }
                    }
                }
                a {
                    width: 0;
                    height: 0;
                    padding: 0;
                    .fa {
                        border: 0px solid #fff;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        background: rgba(255,255,255,0.10);
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.ev-footer-bottom{
    background-color: $blue-color;
    color: #fff;
    a {
        color: #fff;
        &:hover {
            color: $main-color;
        }
    }
    .footer-links {
        a {
            margin: 0 4px;
            border-right: 1px solid #fff;
            padding: 0 8px;
            &:last-child {
                border-right: 0;
            }
            &:hover {
                color: $main-color;
            }
        }
    }

}





/*
    ==============
      FOOTER ONE
    ==============
*/
.mh-footer {
    ::placeholder {
        //color: $white;
        opacity: 0.9;
    }
    .form-control {
        padding: 20px;
        @include box-shadow($color-shadows-contact-2x);
        &:focus {
           @include box-shadow($color-shadows-contact-2x);
            border-color: transparent;    
        }
    }
    .contact-message {
       @include box-shadow($color-shadows-contact-2x);
        background-color:  transparent;
        border-color: transparent;
        border-radius: 4px;
        margin-bottom: 20px;
        width: 100%;
        padding: 20px;
        outline: 0;
        &:focus {
           @include box-shadow($color-shadows-contact-2x);
            border-color: transparent;
        }
    }    
    
}

/*
    ==============
       MAP
    ==============
*/
.mh-map {
    padding: 0px;
    margin-top: 0px;
    padding-right: 40px;
    h4 {
        color: #616161;
        margin-bottom: 20px;
    }
    #mh-map {
        height: 200px;
        width: 100%;
        padding-right: 30px;
    }
}

/**
 * ===================================
 *  Video post
 * ===================================
 */


.video-player {
  position: relative;
  line-height: 0;
}
.video-player video {
  width: 100%;
  border-radius: 10px;
}
.video-player .btn {
  width: 230px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  transition: all 0.6s;
  background-color: transparent;
}
.video-player.gobottom {
    .btn {
      bottom: 10%;
    }
}
.video-player .btn:hover, .btn:focus, .btn:active {
    // .box-shadow(0 0px 0px 0 rgba(0, 0, 0, 0));
}
.video-player .btn .icon svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.video-player .btn span {
  transition: all 0.4s;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}
.video-player .btn span.active {
  opacity: 1;
}
.video-features {
  padding: 35px;
  border-radius: 4px;
}
.video-features h4 {
  margin-top: 0;
  margin-bottom: 13px;
}
.video-features p {
  margin-bottom: 0;
}
.video-features .media-left {
  vertical-align: middle;
}
.video-features .icon svg {
  width: 40px;
  height: 40px;
  margin-top: -5px;
}

.nivo-lightbox-theme-default .nivo-lightbox-inline {
  background: transparent;
  padding: 0;
}

// ACCORDION

.uv-accordinaton {
    width: 90%;
    margin: 0 auto;
    display: table;
    padding-bottom: 100px;
    padding-top: 30px;
    ul {
        padding: 0;
        margin: 20px 0;
        color: #555;
        li {
            list-style: none;
            border-top: 1px solid #ddd;
            display: block;
            padding: 15px;
            overflow: hidden;
            &:first-child {
                border-color: transparent;
            }
        }
    }
}
.uv-accordinaton-list {
    display: block;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: $main-color;
    }
    h2 {
        font-size: 16px;
        line-height: 27px;
        margin-top: 0;
        margin-bottom: 0;
        &.hilighted {
            // color: $main-color;
        }
    }
}
.uv-accordition-detail a {
    text-decoration: none;
    color: #C0392B;
    border: 1px solid #C0392B;
    padding: 6px 10px 5px;
    font-size: 14px;
}
.uv-accordition-detail {
    margin: 10px 0 10px 0px;
    display: none;
    line-height: 22px;
    text-align: center;
    padding-top: 20px;
    img {
        margin: 0 auto;
        float: none;
        text-align: center;
        margin-bottom: -33px;
    }
}
.uv-ac-details {
    text-align: left;
}
.uv-right-arrow{
    margin-top: 0;
    margin-left: 0;
    margin-right: 30px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    line-height: 28px;
    float: left;
    background: #fff;
    color: #040404;
    border: 1px solid #000;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    &.color {
        border: 1px solid $main-color;
        background: $main-color;
        color: $white;
    }
}

.tab-pane.active .lseft {
    animation: slide-left 1.5s ease-out;
}
.tab-pane.active .rsight {
    animation: slide-right 1.5s ease-out;
}

.uv-accordinaton li.shadow-1 {
    .lseft {
        animation: slide-left 1.5s ease-out;
    }
    .rsight {
        animation: slide-right 1.5s ease-out;
    }
}

@keyframes slide-left {
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
}
@keyframes slide-right {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}

.quate-form {
    margin-top: 0px;
}

.footer-man {
    position: absolute;
    left: -200px;
    top: 331px;
    height: 300px;
} 
